<div>
   <h2 style="float:left">{{wizardTitle}} - {{activePageTitle}}</h2>

   <!-- [(activeIndex)] is a custom 2-way binding. -->
   <p-steps [model]="items" [(activeIndex)]="activePageIndex" [readonly]="false" (activeIndexChange)="onChanged()">
   </p-steps>

   <ng-content></ng-content>

   <input type="button" value="Previous" (click)="onPrevious()" [disabled]="previousButtonDisabled">
   <input type="button" value="{{nextButtonText}}" (click)="onNext()" [disabled]="nextButtonDisabled">
</div>
